#checksContainer {
    margin-top: 100px;
    /* direction:ltr; */
    /* background-color: rebeccapurple; */
    /* height: 600px; */
}

/* .MuiFormControlLabel-root {
    display: block;
} */

.check {
    /* background-color: rebeccapurple; */
    text-align:start;
    margin: 10px 10px ;
}

#checks-btnContainer {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#checksHeader > p {
    margin: 0px 10px;
    background-color: royalblue;
}