#luckContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#luckyIcon{
    width: 50%;
    /* background-color: black; */
}

#lucky-btnContainer {
    margin: 10px 50px 30px; 
    display: flex;
    justify-content: space-around;
}

.lucky-btn {
    width: 100px;
}